<!doctype html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.js"></script>
</head>
<title>喵</title>
<body>
  <!-- 主要容器 -->
  <div class="ts narrow container">
      <br>
      <br>

      <!-- 抬頭標題 -->
      <div class="ts center aligned header">
        <img class="ts big image" src={{pic}}>
      </div>
      <h1 class="ts center aligned massive header">
          {{ name }} 你好!
      </h1>
      <!-- / 抬頭標題 -->

      {% for m in message %}
      <div class="ts centered secondary segment">
        <div class="ts structured big message">
          <div class="avatar">
              <img src="https://tocas-ui.com/assets/img/5e5e3a6.png">
          </div>
          <div class="content">
              <div class="description">
                  <h2>{{ m }}</h2>
              </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="ts center aligned big header">
        <i class="announcement top aligned icon"></i>
        咪魯祝你 2022 虎年行大運！
      </div>
      <div class="ts center aligned header">
        <img class="ts big circular image" src="https://res.cloudinary.com/oscarada87/image/upload/v1641725788/miru/270060168_897954687559135_9112821706176922303_n_hlfcz1.jpg">
      </div>
      <br>
      <br>
      <br>
      <br>
  </div>
  <!-- / 主要容器 -->
</body>
